{% extends 'partials/base.html' %}

{% load static %}


{% block content %}
 
<div class="container mt-3">
  <div class="row responsive">
  
  <div class="col-lg-4">
    <div class="card" style="border-color: transparent; background-color: transparent;">
      <img class="card-img-top" src="https://kfcprodimages-ehcsdud6a5a5eqcm.z01.azurefd.net/cmsimages/kfc/imagestemp/desktop/Exclusive_Deals_19122023.png"  alt="Card image" style="width:50%">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 25px; color: black;">John Doe</h4>
      </div>
    </div>
   </div>
   
   <div class="col-lg-4">
    <div class="card" style="border-color: transparent;">
      <img class="card-img-top" src="https://kfcprodimages-ehcsdud6a5a5eqcm.z01.azurefd.net/cmsimages/kfc/imagestemp/desktop/For_One_19122023.png" alt="Card image" style="width:50%">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 25px;">John Doe</h4>
      </div>
    </div>
   </div>
   
   
   <div class="col-lg-4">
    <div class="card" style="border-color: transparent;">
      <img class="card-img-top" src="https://kfcprodimages-ehcsdud6a5a5eqcm.z01.azurefd.net/cmsimages/kfc/imagestemp/desktop/For_Sharing_19122023.png" alt="Card image" style="width:50%">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 25px;">John Doe</h4>
      </div>
    </div>
   </div>
   
    <div class="col-lg-4">
    <div class="card" style="border-color: transparent;">
      <img class="card-img-top" src="https://kfcprodimages-ehcsdud6a5a5eqcm.z01.azurefd.net/cmsimages/kfc/imagestemp/desktop/Sides_19122023.png" alt="Card image" style="width:50%">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 25px;">John Doe</h4>
      </div>
    </div>
   </div>
   
   
    <div class="col-lg-4">
    <div class="card" style="border-color: transparent;">
      <img class="card-img-top" src="https://kfcprodimages-ehcsdud6a5a5eqcm.z01.azurefd.net/cmsimages/kfc/imagestemp/desktop/Beverages_19122023.png" alt="Card image" style="width:50%">
      <div class="card-body">
        <h4 class="card-title" style="margin-left: 25px;">John Doe</h4>
      </div>
    </div>
   </div>
    
   </div>
  </div>

{% endblock content %}
